<ion-content> 
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Sistema de Atendimento
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div style="text-align: center;">
    <!-- Botão para chamar a senha -->
    <ion-button size="large"> Próxima senha</ion-button> <br>

    <!-- Senha chamada -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sua Senha</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label>Senha:</ion-label>
          <ion-text>Sua Senha</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
