<ion-content> 
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Emissão de Senhas
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img src="assets/senha.png" style="margin-top: 20px;"></ion-img>
  
  <div style="text-align: center;">
    <ion-button size="large">Senha prioritaria</ion-button> <br>
    <ion-button size="large">Senha geral</ion-button> <br>
    <ion-button size="large">Senha exames</ion-button>
    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input type="tel" maxlength="14" inputmode="numeric" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" ></ion-input>
    </ion-item>
    
  </div>

</ion-content>
