<ion-content> 
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Emissão de Senhas
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img src="assets/senha.png" style="margin-top: 20px;"></ion-img>
  
  <div style="text-align: center;">
    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input [(ngModel)]="cpf" type="tel" maxlength="11"></ion-input>
    </ion-item> <br>
    <ion-button size="large" (click)="gerarSenhasSP()">Senha prioritaria</ion-button> <br>
    <ion-button size="large" (click)="gerarSenhasSG()">Senha geral</ion-button> <br>
    <ion-button size="large" (click)="gerarSenhasSE()">Senha exames</ion-button>
  </div>

</ion-content>
