<ion-card class="prioridade-alta" routerLink ="/page3">
  <ion-card-header>
    <ion-card-title>Senha Prioritaria</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Tempo médio de atendiemnto 15 min.
  </ion-card-content>
</ion-card>
<ion-card class="prioridade-média" routerLink = "/page3">
  <ion-card-header>
    <ion-card-title>Senha Geral</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Tempo médio de atendimento 5 min.
  </ion-card-content>
</ion-card >
<ion-card class="prioridade-baixa" routerLink = "/page3">
  <ion-card-header>
    <ion-card-title>Retirada Exame</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Tempo médio de atendimento 1 min.
  </ion-card-content>
</ion-card>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="*"></ion-back-button>
  </ion-buttons>
</ion-toolbar>


