ion-card-content{
  text-align: center;
  size: 10px;
}
ion-card{
  margin-top: 50px;
  color: black;
}
.prioridade-alta{
  background-color: red;
}
.prioridade-média{
  background-color: orange;
}
.prioridade-baixa{
  background-color: aqua;
}
ion-card-title{
  color: black;
  text-align: center;
  size: 20px;
}
