<ion-content> 
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Controle de Atendimento
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img src="assets/senha.png" style="margin-top: 20px;"></ion-img>
  
  <div style="text-align: center;">
    <ion-button size="large" routerLink="/emissor">Emissor</ion-button> <br>
    <ion-button size="large" routerLink="/atendente">Atendente</ion-button> <br>
    <ion-button size="large" routerLink="/cliente">Cliente</ion-button>
  </div>

</ion-content>
